@import url(./resets.css);
@import url(./animations.css);
@import url(./fonts.css);

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f0efee;
}

/* Nav styles */
 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 4rem;
    font-size: 25px;
  }

nav ul {
    display: flex;
    gap: 30px;
  }

/*Hero*/

.heroSection {
  padding: 6rem 4rem 0 4rem;
}


/*Selected Work*/

.selectedWorksSection {
  padding: 0 4rem 4rem ;
}

.navigationBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WorksBar {
  display: flex;
  align-items: flex-start;
  padding: 1em 0 2em 0;
  column-gap: 20px;
  width: 100%;
}

.projectArticle {
  scroll-snap-align: center;
  min-width: 55%;
  box-sizing: border-box;
}

.projectArticle ul, .hover-article ul {
  display: flex;
  gap: 20px;
  margin: 0;
}

.projectImage {
  border-radius: 1rem;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/*About component */
.TwoColSection {
  display: flex;
  padding: 2em 0;
  background-color: #181819;
  color: #f0efee;
}

.col-2 {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Education Section*/
.educationSection {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.educationContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
}

.educationContainer article {
  flex: 0 0 calc(50% - 30px); 
  box-sizing: border-box;
}

.educationContainer article:nth-child(5n), 
.educationContainer article:nth-child(6n) { 
  border-bottom: none; 
}

/* Front End Work Page */
.workPageSection {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.workPageSection article {
  flex: 0 0 calc(50%-30px);
  box-sizing: border-box;
}

.activeButton {
  color: #181819;
}

.inactiveButton {
  color: #ACACAB;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4rem;
}

.buttonContainer button {
  background-color: none;
  border: none;
  cursor: pointer;
}

/*Page Project*/
.pageProject {
  margin: 0 4rem 2rem;
  padding: 0 4rem;
  background-color: #181819;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  color: #f0efee;
}

.illustrationSection {
  padding: 4rem;
  color: #181819;
}


.MainProjectImg {
  max-width: 100%;
  margin-bottom: 30px;
}

.MidImage {
  max-width: 50%;
}

.illustrationSection {
  background-color: #fff;
}

.galleryRow {
  display: flex;
  justify-content: center;
  padding: 4em 2em;
  gap: 30px;
}

.galleryCol {
  flex: 30%;
  max-width: 30%;
  padding: 0 5px;
}

.galleryBig {
  flex: 40%;
  max-width: 40%;
  padding: 0 5px;
}

.galleryImage {
  width: 100%;
  object-fit: cover;
} 

.Rounded {
  max-width: 100%;
  border-radius: 1em;
}

.galleryLogo {
  margin: 0 auto;
  width: 50%;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #181819;
    color: #f0efee;
    font-size: 20px;
}

footer ul {
  display: flex;
  gap: 30px;
}

/* Swiper buttons */
.custom-swiper-button-next , .custom-swiper-button-prev,
.custom-swiperB-button-next, .custom-swiperB-button-prev {
  background-color: none;
  border: none;
  cursor: pointer;
}


/*hover */

.project-article {
  position: relative;
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.hover-article {
  background-color: #181819;
  border-radius: 1rem;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f0efee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 1rem 3rem;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #f0efee;
}
