@import url(./resets.css);

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f0efee;
  font-family: 'Inter', sans-serif;
}

/* Nav styles */
 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 4rem;
    font-size: 25px;
  }

nav ul {
    display: flex;
    gap: 30px;
  }

/*Hero*/

.heroSection {
  padding: 0 4rem;
}

.heroSection h1, .heroSection h2 {
  font-size: 111px;
  line-height: 7rem;
}

.heroSection p {
  font-size: 27px;
  font-weight: bold;
}

/*Selected Work*/

.selectedWorksSection {
  padding: 0 4rem 4rem ;
}

.selectedWorkSection h2 {
  font-size: 70px;
}

.WorksBar {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.projectArticle {
  scroll-snap-align: center;
  min-width: 55%;
}

.projectArticle ul {
  display: flex;
  gap: 20px;
}

.projectImage {
  border-radius: 1rem;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/*About component */
.TwoColSection {
  display: flex;
  padding: 2em 0;
  /* border-bottom: 1px solid black; */
  background-color: #181819;
  color: #f0efee;
}

.col-2 {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .AboutImage {
  mix-blend-mode:;
} */

/*Education Section*/
.educationSection {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.educationContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
}

.educationContainer article {
  /* border-bottom: 1px solid black; */
  flex: 0 0 calc(50% - 30px); 
  box-sizing: border-box;
}

.educationContainer article:nth-child(5n), 
.educationContainer article:nth-child(6n) { 
  border-bottom: none; 
}

/* Front End Work Page */
.workPageSection {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.workPageSection article {
  flex: 0 0 calc(50%-30px);
  box-sizing: border-box;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #181819;
    color: #f0efee;
    font-size: 20px;
}

footer ul {
  display: flex;
  gap: 30px;
}

footer ul a {
  text-decoration: underline;
}